* {
    margin: 0;
}

.navbar {
    background-color: #2b7804;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    height: 36px;  
    margin-bottom: 40px;
    font-size: 20px;
    width: 100%;
  }

.navbar-link {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-link:hover {
    text-decoration: underline;
}

.chat-app {
    width: 100%;
    margin-left: 10px;
}